*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body::before{
    content: " ";
    background : url("../img/bg.jpg") no-repeat center/cover;
    position: absolute;
    height: 48vw;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
}
nav {
    background-color: darkred;
    font-family: cursive;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li {
    color: aliceblue;
    padding: 5px;
    font-size: 25px;
}
.gameContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.container{
    display: grid;
    margin-right: 50px;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 6vw;
    cursor: pointer;
}
.gameInfo{
    padding: 0px 15px;
    margin: 0 65px;
    display: flex;
    flex-direction: column;
    /* flex-basis: 2px; */
    /* justify-content: center; */
    align-items: center;
}
.gameInfo h1{
    font-size: 2.5rem;
}
.image img{
    max-width: 14vw;
    width: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.info{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 9px;
    /* background-color: rgb(93, 82, 213); */
    text-align: center;
}
#reset{
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(231, 240, 240);
    border-radius: 5px;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    background-color: rgb(194, 126, 44);
    width: 0;
    height: 2px;
    position: absolute;
    transition: width 1s ease-in-out;
}

@media screen and (max-width:900px) {
    .gameInfo{
        margin-top: 100px;
    }
    .gameInfo h1{
        font-size : 1.5rem;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}